<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All task</title>
    <style>
        .container{
            background-color:bisque;
            margin: 0px auto;
            align-items: center;
            text-align: center;
            justify-content: center;
            width: 30%;
            padding-bottom: 30px;
            
        }
        .a1{
            margin-bottom: 30px;
        }
        .a1 a{
            text-decoration: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: italic;
            color: firebrick;
        }
        body {background: aliceblue  ;}
        button a{ 
            list-style: none;
            text-decoration: none;
        }
        button{
            border: 1px solid #888e94;
            border-radius: 9px;
        }
   
    </style>
</head>
<body>
    <div class="container">
        <h2>All task</h2>
        
        <div class="a1">
            <a href="http://localhost:3001/dynamictable">Dynamic table</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/kukucube">kukucube</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/tictactoe">tictactoe</a>
            
        </div>
        <div class="a1">
            <a href="http://localhost:3001/form1">form1</a>
            
        </div>
        <div class="a1">
            <a href="http://localhost:3001/form2">form2</a>
            
        </div>

        <div class="a1">
            <a href="http://localhost:3001/amanhoster">Aman Hoster</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/hirex">Hirex</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/event">Event table</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/sorting">Sorting</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/fsmodulecrud">FS Form crud</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/attendance">Attendance Grid</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/result">Exam_master</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/dynamicquery">Dynamic Query</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/searchtable">Delimeter Search</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/ajaxform">Form crud with ajax</a>
        </div>
        <div class="a1">

            <a href="http://localhost:3001/combo">CityState_combo</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/register">Register</a>
        </div>
        <div class="a2">
            <button><a href="http://localhost:3001/logout">Logout</a></button>
        </div>
        <!-- <div class="a1">
            <a href="http://localhost:3001/result"></a>
        </div> -->
    </div>
</body>
</html>