<html>
    <head>
        <title>employee form</title>
    </head>
    <body>
        <form>

            <fieldset style="width: 35%;">
                <legend> Basic Details</legend>
            <label for="fname">First Name</label> 
            <input type="text" id="fname" name="fname" autofocus>
            &nbsp;&nbsp;&nbsp;
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname"><BR>
               
            <br>
            <label for="desig">Designation</label>
            <input type="text" id="desig" name="desig">&nbsp;&nbsp;&nbsp;

            <label for="add1">Address_1</label>
            <input type="text" id="a1" name="lname">  <br><br>
           
            <label for="email">Email</label>
            <input type="email" id="email" name="email">&nbsp;&nbsp;&nbsp;
            <label for="address2">Address_2</label>
            <input type ="text" id="add2" name="add2"><br><br><br>

            <label for="phone ">Phone no</label>
            <input type="tel" id="phone" name="phone" placeholder="9023-45-549"  maxlength="10" required>&nbsp;&nbsp;&nbsp;

            
            <label for="city">City</label>
            <input list="city" name="city">
               <datalist id="city">
                 <option value="surat">
                 <option value="baroda">
                 <option value="ahmedabad">
                 <option value="rajkot">
                 <option value="vapi">
               </datalist><br><br>

            <label for="gender">Gender</label>&nbsp;&nbsp;
            
            <input type="radio" id="male" name="gender" value="Male">
            <label>Male</label>
          
            <input type="radio" id="female" name="gender" value="Female">
            <label>Female</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <label for="state">State</label>
            <select name="state" id="state">
            <option value="Gujarat">Gujarat</option>
            <option value="UP">Uttarpradesh</option>
            <option value="MP">Madhyapradessh</option>
            <option value="HP">HimachalPradesh</option>
            <option value="Delhi">Delhi</option>
            <option value="Punjab">Punjab</option>
            <option value="Orrissa">Orrissa</option>
            </select><br><BR><BR>

            <label for="relationshipstatus">Relationshipstatus</label>
            <select name="rel_status" id="rel_status">
                <option value="single">Single</option>
                <option value="divorced">Divorced</option>
                <option value="married">Married</option>
            </select>&nbsp;&nbsp;&nbsp;

            <label for="dob">DateofBirth</label>
            <input type="date" id="dob" name="dob">
           
        </fieldset>
        <br>
        <fieldset style="width: 50%;">
            
           <legend>Educational detail</legend>
           
                <legend>Ssc result</legend>
                <BR>

                <label>Name of board</label>
                <input type="text" id="board" name="board">&nbsp;&nbsp;

                <label>Passing year</label>
                <input type="year" id="py" name="year" size="10">&nbsp;&nbsp;

                <label for="percentage">Percentage</label>
                <input type="text" id="per" name="per" size="6">
                <HR>
                    <BR>
                        <LEGEND>Hsc result</LEGEND>
                        <BR>

                            <label>Name of board</label>
                            <input type="text" id="board1" name="board1">&nbsp;&nbsp;
            
                            <label>Passing year</label>
                            <input type="text" id="hsc_py" name="hsc_passingyear" size="10">&nbsp;&nbsp;
            
                            <label for="percentage">Percentage</label>
                            <input type="text" id="sper" name="sper" size="6">
                            <BR>
                                <hr>
                                <legend>bachelor degree</legend>
                                <br>
                                <label for="course">Course Name</label>
                                <input type="text" id="bc" name="bc">
                                &nbsp;&nbsp;
                                <label for="university">University</label>
                                <input type="text" id="uni1" name="uni1" size="10">&nbsp;&nbsp;
                                <label for="percentage">Percentage</label>
                                <input type="text" id="bper" name="bper" size="6">

                                <BR>
                                    <hr>
                                    <legend>master degree</legend>
                                    <br>
                                    <label for="course">Course Name</label>
                                    <input type="text" id="mc" name="mc">
                                    &nbsp;&nbsp;
                                    <label for="university">University</label>
                                    <input type="text" id="uni2" name="uni2" size="10">&nbsp;&nbsp;
                                    <label for="percentage">Percentage</label>
                                    <input type="text" id="mper" name="mper" size="6">

            
        </fieldset>
        <br>
    

        <fieldset style="width: 60%;">
            <legend>Work experience</legend>
            <br>
            <label>Company Name</label>
            <input type="text" id="comp1" name="comp">&nbsp;&nbsp;
            <label>Designation</label>
            <input type="text" id="desig1" name="desig">&nbsp;&nbsp;
            <label>from</label>
            <input type="date" id="frm_date" name="datemin" datemin="2024-01-22">&nbsp;&nbsp;
            <label>To</label>
            <input type="date" id="to_date" name="desig" datemin="2026-02-22">
          
            <br>
            <br>
            <label>Company Name</label>
            <input type="text" id="comp2" name="comp">&nbsp;&nbsp;
            <label>Designation</label>
            <input type="text" id="desig2" name="desig">&nbsp;&nbsp;
            <label>from</label>
            <input type="date" id="frm_date_2" name="datemin" datemin="2026-02-24">&nbsp;&nbsp;
            <label>To</label>
            <input type="date" id="to_date_2" name="datemin" datemin="2028-02-24">
            <br>
            <br>
            <label>Company Name</label>
            <input type="text" id="comp3" name="comp">&nbsp;&nbsp;
            <label>Designation</label>
            <input type="text" id="desig3" name="desig">&nbsp;&nbsp;
            <label>from</label>
            <input type="date" id="frm_date_3" name="datemin" datemin="2028-02-24">&nbsp;&nbsp;
            <label>To</label>
            <input type="date" id="to_date_3" name="datemin" datemin="2030-02-24">
        </fieldset>
        <br>
        <fieldset style="width: 20%;">
            <legend>language known</legend>
            <br>
            <input type="checkbox" id="hindi" name="hindi" value="hindi">
            <label>Hindi</label>&nbsp;
            <input type="checkbox" id="read1" name="read1" value="read">
            <label>read</label>
            &nbsp;&nbsp;

            <input type="checkbox" id="write1" name="write1" value="write">
            <label>write</label>
            &nbsp;&nbsp;

            <input type="checkbox" id="speak1" name="speak1" value="speak1">
            <label>speak</label>
            &nbsp;&nbsp;
            <br>
            <input type="checkbox" id="hindi" name="hindi" value="hindi">
            <label>English</label>&nbsp;
            <input type="checkbox" id="read2" name="read2" value="read">
            <label>read</label>
            &nbsp;&nbsp;

            <input type="checkbox" id="write2" name="write2" value="write">
            <label>write</label>
            &nbsp;&nbsp;

            <input type="checkbox" id="speak2" name="speak2" value="speak">
            <label>speak</label>
            &nbsp;&nbsp;

            <br>
            <input type="checkbox" id="gujarati" name="hindi" value="hindi">
            <label>Gujarati</label>&nbsp;
            <input type="checkbox" id="read3" name="read3" value="read">
            <label>read</label>
            &nbsp;&nbsp;

            <input type="checkbox" id="write3" name="write3" value="write">
            <label>write</label>
            &nbsp;&nbsp;

            <input type="checkbox" id="speak3" name="speak3" value="speak">
            <label>speak</label>
            &nbsp;&nbsp;

            
        </fieldset>
        <br>

        <fieldset style="width: 20%;">
            <legend>Technology you know</legend>
            <br>
            <input type="checkbox" id="php" name="php" value="php">
            <label>Php</label>&nbsp;&nbsp;
            <input type="radio" id="beginner1"  name="lvl"value="beginner">
            <label>beginner</label>
            &nbsp;
            <input type="radio" id="mediator1" name="lvl" value="mediator">
            <label>mediator</label>&nbsp;
            <input type="radio" id="expert" name="lvl" value="expert">
            <label>expert</label>

            <br>
            <input type="checkbox" id="mysql" name="mysql" value="mysql">
            <label>mysql</label>&nbsp;&nbsp;
            <input type="radio" id="beginner2"  name="lvl1" value="beginner">
            <label>beginner</label>
            &nbsp;
            <input type="radio" id="mediator2" name="lvl1" value="mediator">
            <label>mediator</label>&nbsp;
            <input type="radio" id="expert2" name="lvl1" value="expert">
            <label>expert</label>

            <br>
            <input type="checkbox" id="laravel" name="laravel" value="laravel">
            <label>laravel</label>&nbsp;&nbsp;
            <input type="radio" id="beginner3"name="lvl2" value="beginner">
            <label>beginner</label>
            &nbsp;
            <input type="radio" id="mediator3" name="lvl2" value="mediator">
            <label>mediator</label>&nbsp;
            <input type="radio" id="expert3" name="lvl2" value="expert">
            <label>expert</label>

            <br>
            <input type="checkbox" id="oracle" name="oracle" value="oracle">
            <label>oracle</label>&nbsp;&nbsp;
            <input type="radio" id="beginner3" name="lvl3" value="beginner">
            <label>beginner</label>
            &nbsp;
            <input type="radio" id="mediator3" name="lvl3" value="mediator">
            <label>mediator</label>&nbsp;
            <input type="radio" id="expert3" name="lvl3" value="expert">
            <label>expert</label>


        </fieldset>
        <br>
        <fieldset style="width: 45%;">
            <legend>Reference contact</legend>
            <br>
            <label>Name</label>
            <input type="text" id="ref_name1" name="ref_name1">&nbsp;&nbsp;
            <label>Contact Number</label>
            <input type="text" id="ref_contact1" name="ref_contact1">&nbsp;&nbsp;
            <label>Relation</label>
            <input type="text" id="ref_rel1" name="ref_name1">
            <br>
            <br>
            <label>Name</label>
            <input type="text" id="ref_name2" name="ref_name2">&nbsp;&nbsp;
            <label>Contact Number</label>
            <input type="text" id="ref_contact2" name="ref_contact2">&nbsp;&nbsp;
            <label>Relation</label>
            <input type="text" id="ref_rel2" name="ref_name2">

        </fieldset>
        <br>
        <fieldset style="width: 50%;">
            <legend>preference</legend>
            <br>
            <label for="prefered location">Prefered locaation</label>
            <select name="pref_location" id="pref_location">
            <option value="ahmedabad">ahmedabad</option>
            <option value="rajkot">rajkot</option>
            <option value="vadodara">vadodara</option>
            <option value="jamnagar">jamnagar</option>
            <option value="surat">Surat</option>
            </select>
            &nbsp;&nbsp;
            <label>Notice Period</label>
            <input type="text" id="np" name="np">&nbsp;&nbsp;
            <label>Department</label>
            <select name="department" id="department">
                <option value="cse">cse</option>
                <option value="mech">mech</option>
                <option value="ec">ec</option>
                <option value="electrical">electrical</option>
            </select>
                <br>
                <br>
                <label>expected_ctc</label>
                <input type="text" id="exp_ctc" name="exp_ctc">&nbsp;&nbsp;
                <label>current_ctc</label>
                <input type="text" id="current_ctc" name="current_ctc">

           
        </fieldset>
        <br>

        <center>
            <input type="submit" value="Submit">&nbsp;&nbsp;
            <input type="reset" value="Reset">
        </center>
        </form>
    </body>
</html>





