<html>
  <head>
    <title>layout_3</title>
    <link rel="stylesheet" href="/css/practical3/lay3.css" />
  </head>
  <body>
    <section>
      <div class="cont1">
        <div class="nav">
          <div class="logo">
            <div class="img1">
              <img src="/img/practical3/HireX_black.png" />
            </div>
          </div>
          <div class="rest">
            <ul>
              <li><a href="#">Works</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Blogs</a></li>
              <li><a href="#">FAQS</a></li>
              <li><a href="#">Contact us</a></li>
              <li>
                <a href="#" style="border: 1px solid black; padding: 3px"
                  >We're Hiring</a
                ><img src="/img/practical3/arrow-right.svg" />
              </li>
            </ul>
          </div>
        </div>
      <div class="row1">
        <div class="c1">
            <div class="r1">
                <div class="txt"> Welcome to Hirex</div>
                <div class="img1"><img src="/img/practical3/Star 1.png"></div>
            </div>
            <div class="r2">
                Award Winning Digital Agency.
            </div>
            <div class="r3">
                Digital Agency offering unique solutions to create digital presence and increase your sales.
            </div>
            <div class="r4">
                <div class="inp">
                    <input type="text" placeholder="enter your email" style="height: 45px;width: 280px;">
                    <input type="button" value="Request Access" style="height: 45px;width: 121px;background-color: orange;">
                </div>
            </div>
        </div>
        <div class="c2">
            <div class="wd">
                <img src="/img/practical3/image 2 (Traced).png">
                <p class="txtc2">Web Design</p>
                
            </div>
            <div class="sm">
                <p class="txtc21">Social Media</p>
                <img src="/img/practical3/image 6 (Traced).png">
            </div>
            <div class="ud">
                <p class="txtc22">UIX Design</p>
                <img src="/img/practical3/image 1 (Traced).png">

            </div>
        </div>

      </div>
    </section>
    <section>
        <div class="cont2">
            <div class="row91">
                <div class="col91">
                   <p class="gan"> GET ACCESS NOW!</p>
                   <div class="imggan"><img src="/img/practical3/image-fBLQvAFN1-transformed 1.png" height="70px" width="65px"></div>
                   <div class="lin"><img src="/img/practical3/Line 4.png"></div>
                </div>
                <div class="col91">
                    <p class="gan"> GET ACCESS NOW!</p>
                    <div class="imggan"><img src="/img/practical3/image-fBLQvAFN1-transformed 1.png" height="70px" width="65px"></div>
                    <div class="lin"><img src="/img/practical3/Line 4.png"></div>
                 </div>
                 <div class="col91">
                    <p class="gan"> GET ACCESS NOW!</p>
                    <div class="imggan"><img src="/img/practical3/image-fBLQvAFN1-transformed 1.png" height="70px" width="65px"></div>
                    <div class="lin"><img src="/img/practical3/Line 4.png"></div>
                 </div>
                 <div class="col91">
                    <p class="gan"> GET ACCESS NOW!</p>
                    <div class="imggan"><img src="/img/practical3/image-fBLQvAFN1-transformed 1.png" height="70px" width="65px"></div>
                    <div class="lin"><img src="/img/practical3/Line 4.png"></div>
                 </div>
              
            </div>
        </div>
    </section>
    <section>
        <div class="cont3">
            <div class="rc3">
                <div class="rc31">
                    <div class="ser">Services</div>
                    <div  class="se2">How Hirex.Work</div>
                    <div class="se3">The Awesome People Who makes all this possibe</div>
                </div>
                <div class="rc4">
                    <div class="c91">
                        <div class="c911">START HERE</div>
                        <div class="c912">Who We are And What We Do</div>
                        <div class="c913"><img src="/img/practical3/Designer _Flatline 1.png"></div>
                        <div class="c914">Start Here</div>
                    </div>
                    <div class="c91">
                        <div class="c911">CUSTOM DESIGN</div>
                        <div class="c912">We'll design your projects</div>
                        <div class="c913"><img src="/img/practical3/Notifications_Flatline 1.png"></div>
                        <div class="c915">Start Here</div>
                    </div>
                    <div class="c91">
                        <div class="c911">CONTACT US</div>
                        <div class="c912">Drop us your message!</div>
                        <div class="c913"><img src="/img/practical3/Fortnite_Two Color 1.png"></div>
                        <div class="c916">Start Here</div>
                    </div>
                </div>
            </div>
           <div class="rc5">
            <div class="rc51">
                <div class="rc511">Works</div>
                <div class="rc512">Find our latest works</div>
                <div class="rc513">The awesome people who makes all this possible</div>
            </div>
            <div class="rc52">
               <div class="c521">
                <div class="x1"><img src="/img/practical3/Rectangle 13.png"></div>
                <div class="x2">Web deisgn</div>
                <div class="x3">Website Design For Digital Agency</div>
                <div class="x4">Build a unique Website with HireX Template</div>
                <div class="x5"><div class="rm">Read more</div> <div class="rm2">&#8594</div> </div>
               </div>
               <div class="c522">
                <div class="x1"><img src="/img/practical3/Rectangle 13-1.png"></div>
                <div class="x2">3D Design</div>
                <div class="x3">Realistic 3d Model of Living Room</div>
                <div class="x4">Build a unique Website with HireX Template</div>
                <div class="x5"><div class="rm">Read more</div> <div class="rm2">&#8594</div> </div>
                <div class="x6">View All</div>
               </div>
            </div>
           </div>
        </div>
    </section>
    <section>
        <div class="cont4">
           <div class="rmain">
            <div class="rmain1">
                <div class="rm11">Plans & Pricing</div>
                <div class="rm22">The awesome people who makes all this possible</div>
            </div>
            <!-- <div class="rmain2">
                <div class="rmain2col1">
                    <div class="g1">
                        <div class="g11">Free</div>
                        <div class="g12"><span class="dlr">$0 </span><span class="basic">/ Month</span></p></div>
                        <div class="g13">Start free while you learn more about our services</div>
                    </div>
                   <div class="excep"><hr></div> 
                    <div class="g2">
                        <div class="g21">&#10003 &nbsp;Free forever get the basic essentials</div>
                        <div class="g21"><div class="g21">&#10003 &nbsp;Advanced security and performance</div></div>
                        <div class="g21"><div class="g21">&#10003 &nbsp;Unlimited unhosted sites</div></div>
                        <div class="g21"><div class="g21">&#10003 &nbsp;Live support</div></div>
                    </div>
                    <div class="g3"></div>

                </div>
                <div class="rmain2col1"></div>
                <div class="rmain2col1"></div>
            </div> -->
           <div class="rowc">
             <div class="card-cont">
                <div class="card">
                    <h1>Free</h1>
                    <div class="dl"> <span style="font-size: 50px;color:black ;">$0</span><h2 style="font-size: 18px;">/Month</h2></div>
                    <h3>Start free while you learn more about our services</h3>
                    <hr style="width: 100%;">
                    <div class="lstc" >
                        <li>
                            &#10003 &nbsp;Free forever get the basic essentials
                        </li>
                        <li>
                            &#10003 &nbsp; Advanced security and performance
                        </li>
                        <li>
                            &#10003 &nbsp; Unlimited unhosted sites
                        </li>
                        <li>
                            &#10003 &nbsp; Live support
                        </li>
                    </div>
                    <div class="btncrd">Get Started</div>


                   
                </div>
            </div>
            <div class="card-cont">
                <div class="card">
                    <h1>Basic</h1>
                    <div class="dl"> <span style="font-size: 50px;color:black ;">$19</span><h2 style="font-size: 18px;">/Month</h2></div>
                    <h3>Get powerful tools to make your business grow</h3>
                    <hr style="width: 100%;">
                    <div class="lstc" >
                        <li>
                            &#10003 &nbsp;Free forever get the basic essentials
                        </li>
                        <li>
                            &#10003 &nbsp; Advanced security and performance
                        </li>
                        <li>
                            &#10003 &nbsp; Unlimited unhosted sites
                        </li>
                        <li>
                            &#10003 &nbsp; Live support
                        </li>
                    </div>
                    <div class="btncrd">Get Started</div>


                   
                </div>
            </div>
            <div class="card-cont">
                <div class="card">
                    <h1>Pro</h1>
                    <div class="dl"> <span style="font-size: 50px;color:black ;">$99</span><h2 style="font-size: 18px;">/Month</h2></div>
                    <h3>Take your business to the next level with our tools</h3>
                    <hr style="width: 100%;">
                    <div class="lstc" >
                        <li>
                            &#10003 &nbsp;Free forever get the basic essentials
                        </li>
                        <li>
                            &#10003 &nbsp; Advanced security and performance
                        </li>
                        <li>
                            &#10003 &nbsp; Unlimited unhosted sites
                        </li>
                        <li>
                            &#10003 &nbsp; Live support
                        </li>
                    </div>
                    <div class="btncrd">Get Started</div>

                  
                </div>
            </div>
           </div>

            
           </div>
        </div>
    </section>
    <section>
        <div class="cont-slide">
           <div class="con-sl1"><img src="/img/practical3/testimonials-img.png"></div>
           <div class="con-sl2"><h2>"We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"</h2>
          <h4>Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more than 3.2 million followers on the platform.
        </h4></div>
        </div>
    </section>
    <section>
        <div class="cont8">
            <div class="rc88">
                <div class="rcchild"> 
                    <div class="blg">Blog</div>
                    <h2>Stay Updated</h2>
                    <div class="rimg">
                        <img src="/img/practical3/Rectangle 19.png">
                        <img src="/img/practical3/Rectangle 20.png">
                    </div>
                    <div class="flx">

                    <div class="flx1">
                    <div class="btn100">Web deisgn</div>
                    <h3>We Launch Minerva Template this Week!</h3>
                    <h4>Build a unique Website with HireX Template</h4>
                    <div class="rm">Read more &#8594</div>
                    </div>

                    <div class="flx2">
                    <div class="btn100">Web deisgn</div>
                    <h3>We Launch Minerva Template this Week!</h3>
                    <h4>Build a unique Website with HireX Template</h4>
                    <div class="rm">Read more &#8594</div> 
                    </div>
                    </div>
                </div>
                   
            </div>
        </div>
    </section>
    <section>
        <div class="cont9">
            <div class="ry">
                <div class="ry1"><h1>Get our latests news & updates</h1>
                <h2>NAME</h2>
                <div class="hr"><hr></div>
                <h2>EMAIL</h2>
                <div class="hr"><hr></div>
                <h2>SUBSCRIBE</h2>
                <div class="hr"><hr></div>
                </div>
                <div class="ry2">
                    <h1>We select to practice in Minerva since it is both useful and commonsense, and our clients basically adore it</h1>
                    <div class="bty2">Book a call</div>
                 </div>
               
            </div>
        </div>
    </section>
    <section>
        <div class="cont10">
            <h1>Hirex</h1>
            <hr>
            <div class="rcont10">
                <div class="li10">
                    <div class="pl10"><b>Products</b></div>
                    <div class="li1010">
                        <li>
                            Platform
                        </li>
                        <li>
                            Store Overview
                        </li>
                        <li>Email Reports</li>
                        <li>Portfolio</li>
                    </div>
                </div>
                <div class="li10">
                    <div class="pl10"><b>Resources</b></div>
                    <div class="li1010">
                        <li>
                            Case studies
                        </li>
                        <li>
                           Product guides
                        </li>
                        <li>Reports</li>
                        <li>Blog</li>
                        <li>FAQ</li>
                    </div>
                </div>
                <div class="li10">
                    <div class="pl10"><b>Company</b></div>
                    <div class="li1010">
                        <li>
                          Careers
                        </li>
                        <li>
                           Contact sales
                        </li>
                        <li>Contact Reports</li>
                 
                    </div>
                </div>
                <div class="li10">
                    <div class="pl10"><b>Partner </b></div>
                    <div class="li1010">
                        <li>
                          Partner With Us
                        </li>
                     
                 
                    </div>
                </div>
               
            </div>
           
        </div>
        </div>
        </div>
    </section>
  </body>
</html>
